:root {
    --text-color: #DBE4EF;
    --card-front-: #144480;
    --card-back-color: #00F4BF;
}

body {
    background: url('img/bg-desktop.web');
    font-family: Bai Jamjuree;
}

#container {
    display: flex;
    flex-wrap: wrap;
    
}